
<h2><%= @question.content %></h2>
<%= render 'questions/answerform' %>
<br>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://advisrme.herokuapp.com/questions/<%= @question.id %>" data-count="none" data-via="advisr">Tweet</a>

<%= link_to "back", questions_path, class: "btn btn-xs btn-default backlink"  %>

    <!-- Iterates all the answers to the question-->
  <div class="answerloop">
    <% @answers.each do |answer| %>
      <div class="advise">
        <%= answer.advise %>
      </div>
      <div class="star-rating" data-score="<%= answer.comments.average(:rating).round(2).to_f %>"> </div>
      <p>Total <%= @comments.where(answer_id: answer.id).length %> comments to this answer</p>
  
  
        <!-- Form to comments -->
          <%= form_for Comment.new do |f| %>  
            <div class="commentblock">
              <div class="starratings"></div>
                <%= f.text_field :feed, placeholder: "rate & comment" %>  
                <%= f.hidden_field :answer_id, :value => answer.id %>
                <button class="btn btn-sm btn-default">comment</button>
            </div> 
            
          <% end %>

        <!--   Need to style this with bootstrap using table class... -->
            <div class="comment_separation">
              <% answer.comments.order("rating DESC").each do |comment| %>     <!-- sorting inside a loop -->                
                   <!--  <div class="star-rating" data-score="<%#= comment.rating %>" > </div> -->
                    <p><%= h(comment.feed).gsub(/\n/, '<br/>').html_safe %></p>    <!-- replaces any new line characters and forms to proper html file -->
              <% end %>
            </div>
          <br>
    <% end %>
  </div>
       
 
  



<!-- Twitter API-->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://advisrme.herokuapp.com/questions/<%= @question.id %>" data-count="none" data-via="advisr">Tweet</a>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- Rails.env.development?

Rails.env.production? -->


<script>
  $('.star-rating').raty({
    path: 'https://s3-ap-southeast-2.amazonaws.com/advisr/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

  $('.starratings').raty({
    path: 'https://s3-ap-southeast-2.amazonaws.com/advisr/stars',
    scoreName: 'comment[rating]'
  });
</script>





