<h1>Problem</h1>

<h3><%= @question.content %></h3>


<!-- Form to answer -->
<%= form_for @answer do |f| %>  
  <p>
    <%= f.label :answer %>
    <%= f.text_area :advise %>  
  </p>
  
  <%= f.hidden_field :question_id, :value => @question.id %>
  <button>answer</button>
<% end %>

<!-- Iterates all the answers to the question-->
<% @question.answers.each do |answer| %>
  <p><%= answer.advise %></p>

  <!-- Form to comments -->
  <%= form_for Comment.new do |f| %>  
    <p>
      <%= f.label :comment %>
      <%= f.text_area :feed %>  
    </p>
    
    <%= f.hidden_field :answer_id, :value => answer.id %>

    <button>comment</button>
  <% end %>

  <% answer.comments.each do |comment| %>
    <p><%= comment.feed %></p>
  <% end %>
<% end %>

 


<!--  <a href="http://twitter.com/share" class="twitter-share-button" data-url="google.com" data-text="this is the custom text." data-count="horizontal" data-via="MyTwitterAccountUsername">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> -->


<%= link_to "back", questions_path  %>


<!-- Twitter API-->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://advisrme.herokuapp.com/questions/<%= @question.id %>" data-count="none" data-via="advisr">Tweet</a>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- Rails.env.development?

Rails.env.production? -->






