<h4>My issue is: </h4>
<h2><%= @question.content %></h2>

<!-- Form to answer -->
<%= render 'questions/answerform' %>

<!-- Iterates all the answers to the question-->
<% @answers.each do |answer| %>
  <div class="star-rating" data-score="<%= @avg_rating.to_f %>"> </div>
  <p><%= "#{@comments.length} comments" %></p>
  <p><%= answer.advise %></p>


  <!-- Form to comments -->
    <%= form_for Comment.new do |f| %>  
    <div id="star-rating"></div>
    <p>
      <%= f.label :comment %>
      <%= f.text_area :feed %>  
    </p>
    
    <%= f.hidden_field :answer_id, :value => answer.id %>
 
    <button>comment</button>
  <% end %>

<!--   Need to style this with bootstrap using table class... -->
  <table class="table">
    <tbody>
      <% answer.comments.each do |comment| %>
        <tr>
          <td>
            <div class="star-rating" data-score= <%= comment.rating %> > </div>
            <p><%= h(comment.feed).gsub(/\n/, '<br/>').html_safe %></p>    <!-- replaces any new line characters and forms to proper html file -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

 

<%= link_to "back", questions_path  %>


<!-- Twitter API-->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://advisrme.herokuapp.com/questions/<%= @question.id %>" data-count="none" data-via="advisr">Tweet</a>

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<!-- Rails.env.development?

Rails.env.production? -->


<script>
  $('.star-rating').raty({
    path: 'https://s3-ap-southeast-2.amazonaws.com/advisr/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

  $('#star-rating').raty({
    path: 'https://s3-ap-southeast-2.amazonaws.com/advisr/stars',
    scoreName: 'comment[rating]'
  });
</script>



