<!DOCTYPE html>
<html>
<head>
  <title>Advisr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/" class='logo'><img src="http://i.imgur.com/YJ1ssDi.png" title="source: imgur.com" /></a>

<%= render 'layouts/header' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
